h4 {
  display: none;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  padding: 0 0 0 0;
}

.form-group {
  width: 50%;
}

body {
  background-color: skyblue !important;
}

#calculator {
    padding: 0% 0% 0% 35%;
    align-items: center;
}

h1 {
     padding-top: 100px;
     text-align: center;
}
